@mixin helvetica-400 {
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  color: #FFF;
}

@mixin helvetica-700 {
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  color: #FFF;
}

@mixin Roboto-400 {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #FFF;
}

@mixin Roboto-700 {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #FFF;
}

@mixin FiraCode-400 {
  font-family: "Fira Code";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FFF;
}
